
body{
    background-color: #f0f0f0
}
.img404{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: fit-content;
}
@media (max-width: 480px){
    img{
        max-height: max-content;
     }
        
body{
    background-color: #f0f0f0
    
}
.container{
    display: flex;
    max-height: max-content;
}

}