<nav id="navbar" class="navbar ibm-plex-sans-regular">
    <div class="logo">
        <div class="logo-bg">
           <a href="/index.html"> <h1 class="logo-text">&lt;KRAK.CODE&gt;</h1></a>
        </div>
    </div>
    <div class="menu-toggle" id="mobile-menu">
        <span>&#9776;</span>
    </div>
    <ul class="nav-links no-blue" id="nav-links">
        <li><a class="no-blue" href="#">Programs</a></li>
        <li><a class="no-blue" href="/KRAK/index.html">Shop</a></li>
        <li><a class="no-blue" href="#">Projects</a></li>
        <li><a class="no-blue" href="./blog/index.html">Blog</a></li>
        <li><a class="no-blue" href="https://karthikprabhu.netlify.app/">Portfolio</a></li>
        <li><a href="#" class="btnn-signin">Sign In</a></li>
        <li><a href="#" class="btnn-trial">Book Your Free Trial, Now <span><i class="fa-solid fa-arrow-right"></i></span></a></li>
    </ul>
</nav>